.root {
  position: relative;
  padding: rem(8) rem(8) rem(8) rem(12);
  text-align: left;
  color: var(--aitech-color-text-primary);
  text-transform: uppercase;
  font-size: rem(12);
  font-weight: 500;
  line-height: rem(24);
  letter-spacing: rem(0.17);

  /* &:not(:last-child):after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: rem(8) 0;
    border-right: rem(2) solid var(--aitech-color-other-divider);
  } */
}
